body {
  background-color: #f5f5f1;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #e8e8e8;
}

.navbar > navbar-brand {
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 30px;
}

.navbar > navbar-brand > navbar-nav > .nav-item > .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #0192B5;
}